In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('./data/artwork_sample.csv')
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [13]:
# To show datatypes of columns in CSV
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear         int64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [14]:
data.acquisitionYear

0    1922
1    1922
2    1922
3    1922
4    1919
5    1919
6    1919
7    1919
8    1919
9    1919
Name: acquisitionYear, dtype: int64

In [16]:
# change the datatype of a column
# astype property doesnot change the data type of original column
data.acquisitionYear.astype(float)

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [17]:
data.acquisitionYear.dtype

dtype('int64')

In [18]:
data.acquisitionYear = data.acquisitionYear.astype(float)

In [19]:
data.acquisitionYear.dtype

dtype('float64')

In [21]:
fulldf = pd.read_csv('./data/artwork_data.csv', low_memory=False)

In [22]:
fulldf.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [23]:
fulldf.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [24]:
fulldf.height

0         419
1         213
2         467
3         394
4         335
         ...
69196     305
69197     305
69198    2410
69199     NaN
69200     660
Name: height, Length: 69201, dtype: object

In [26]:
# astype directly wont work as it cannot convert some values 
fulldf.height.astype(float)

ValueError: could not convert string to float: 'mm'

In [28]:
# trying to_numeric method of pandas
pd.to_numeric(fulldf.height)

ValueError: Unable to parse string "mm" at position 41339

In [29]:
pd.to_numeric(fulldf.height,errors='coerce')

0         419.0
1         213.0
2         467.0
3         394.0
4         335.0
          ...
69196     305.0
69197     305.0
69198    2410.0
69199       NaN
69200     660.0
Name: height, Length: 69201, dtype: float64

In [32]:
fulldf.height = pd.to_numeric(fulldf.height,errors='coerce')
fulldf.height[41339]

nan

# Aggregate Functions

In [33]:
data.year.min()

1785.0

In [34]:
data.year.max()

1826.0

In [35]:
data.year.sum()

12741.0

In [36]:
data.year.mean()

1820.142857142857

In [37]:
# standard deviation
data.year.std()

15.496543393378316

# Aggregate Functions on Strings

In [39]:
# aggregate functions on strings
data.artist.min()

'Blake, Robert'

In [41]:
# sum concatenates all the entries in column
data.artist.sum()

'Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William'

# Aggregate functions on DataFrames

In [42]:
data.sum()

id                                                                10395
accession_number      A00001A00002A00003A00004A00005A00006A00007A000...
artist                Blake, RobertBlake, RobertBlake, RobertBlake, ...
artistRole            artistartistartistartistartistartistartistarti...
artistId                                                            386
title                 A Figure Bowing before a Seated Old Man with h...
dateText              date not knowndate not known?c.1785date not kn...
medium                Watercolour, ink, chalk and graphite on paper....
creditLine            Presented by Mrs John Richmond 1922Presented b...
year                                                            12741.0
acquisitionYear                                                 19202.0
dimensions            support: 394 x 419 mmsupport: 311 x 213 mmsupp...
width                                                              2821
height                                                             3515
depth                                                               0.0
units                                              mmmmmmmmmmmmmmmmmmmm
inscription                                                         0.0
thumbnailCopyright                                                  0.0
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [44]:
data.agg('min')

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826–7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                             1785.0
acquisitionYear                                                  1919.0
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [45]:
data.agg(['min','max'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,"1826–7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1919.0,image: 240 x 338 mm,240,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044,A00010,"Blake, William",artist,39,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.0,1922.0,support: 394 x 419 mm,394,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...

In [46]:
data.agg(['min','max','mean','std'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
min,1035.00000,A00001,"Blake, Robert",artist,38.000000,A Figure Bowing before a Seated Old Man with h...,"1826–7, reprinted 1892",Graphite on paper,Presented by Mrs John Richmond 1922,1785.000000,1919.000000,image: 240 x 338 mm,240.000000,213.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
max,1044.00000,A00010,"Blake, William",artist,39.000000,"Two Drawings of Frightened Figures, Probably f...",date not known,"Watercolour, ink, chalk and graphite on paper....",Purchased with the assistance of a special gra...,1826.000000,1922.000000,support: 394 x 419 mm,394.000000,467.000000,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
mean,1039.50000,NaN,NaN,NaN,38.600000,NaN,NaN,NaN,NaN,1820.142857,1920.200000,NaN,282.100000,351.500000,NaN,NaN,NaN,NaN,NaN,NaN
std,3.02765,NaN,NaN,NaN,0.516398,NaN,NaN,NaN,NaN,15.496543,1.549193,NaN,55.562677,66.818577,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# namidbt need to check this function
data.agg("mean", axis="columns")

Series([], dtype: float64)

In [61]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear       float64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

# Normalize Data: Applicable to numeric only
Normalising data means adjusting values of a data and change its scale

In [62]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [63]:
data.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear       float64
dimensions             object
width                   int64
height                  int64
depth                 float64
units                  object
inscription           float64
thumbnailCopyright    float64
thumbnailUrl           object
url                    object
dtype: object

In [64]:
data.height.mean()

351.5

In [65]:
# namiobs Mean doesnot work for non numberic data
data.artist.mean()

TypeError: Could not convert Blake, RobertBlake, RobertBlake, RobertBlake, RobertBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, WilliamBlake, William to numeric

In [66]:
height = data.height
norm = (height - height.mean())/height.std()
norm

0    1.010198
1   -2.072777
2    1.728561
3    0.636051
4   -0.246937
5   -0.202040
6   -0.261903
7   -0.172108
8   -0.246937
9   -0.172108
Name: height, dtype: float64

In [67]:
minmax = (height - height.min())/(height.max() - height.min())
minmax

0    0.811024
1    0.000000
2    1.000000
3    0.712598
4    0.480315
5    0.492126
6    0.476378
7    0.500000
8    0.480315
9    0.500000
Name: height, dtype: float64

In [68]:
minmax.max()

1.0

In [69]:
# add new column to data frame
data['standardized_height'] = norm
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,...,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,standardized_height
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,...,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...,1.010198
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...,-2.072777
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,...,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,1.728561
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...,0.636051
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.246937

In [70]:
# namiobs we cannot add new column to csv by this
data.new_column = norm

C:\Users\namis\AppData\Local\Temp/ipykernel_14984/1174066755.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.new_column = norm

# Transforming data

In [72]:
data.height.transform(lambda x: print(x))

419
213
467
394
335
338
334
340
335
340

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: height, dtype: object

In [74]:
data.height.transform(lambda x: x)  # Function returning x

0    419
1    213
2    467
3    394
4    335
5    338
6    334
7    340
8    335
9    340
Name: height, dtype: int64

In [75]:
# lets change height to centimeters
data.height.transform(lambda x: x/10)

0    41.9
1    21.3
2    46.7
3    39.4
4    33.5
5    33.8
6    33.4
7    34.0
8    33.5
9    34.0
Name: height, dtype: float64

In [76]:
# Combining Transform by Groupby
data

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,...,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,standardized_height
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,...,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...,1.010198
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...,-2.072777
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,...,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,1.728561
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...,0.636051
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.246937
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 240 x 338 mm,240,338,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...,-0.202040
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 242 x 334 mm,242,334,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.261903
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 246 x 340 mm,246,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.172108
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 241 x 335 mm,241,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.246937
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 243 x 340 mm,243,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.172108

In [77]:
data.groupby('artist')

In [78]:
data.groupby('artist').transform('nunique') # find the unique entries in artists -- These are opereated on each artist

,id,accession_number,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,standardized_height
0,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
1,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
2,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
3,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
4,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4
5,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4
6,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4
7,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4
8,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4
9,6,6,1,1,6,1,1,1,1,1,6,5,4,0,1,0,0,6,6,4

In [79]:
data.groupby('artist')['height']

In [80]:
data.groupby('artist')['height'].mean()

artist
Blake, Robert     373.25
Blake, William    337.00
Name: height, dtype: float64

In [81]:
data.groupby('artist')['height'].transform('mean')

0    373.25
1    373.25
2    373.25
3    373.25
4    337.00
5    337.00
6    337.00
7    337.00
8    337.00
9    337.00
Name: height, dtype: float64

In [84]:
data['mean_height_by_artist'] = data.groupby('artist')['height'].transform('mean')
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,...,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,standardized_height,mean_height_artist,mean_height_by_artist
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,...,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...,1.010198,373.25,373.25
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...,-2.072777,373.25,373.25
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,...,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,1.728561,373.25,373.25
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...,0.636051,373.25,373.25
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,-0.246937,337.00,337.00

# Filtering data

In [86]:
data = pd.read_csv('./data/artwork_data.csv', low_memory=False)

In [87]:
data.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [88]:
data.filter(['id','artist'])

           id              artist
0        1035       Blake, Robert
1        1036       Blake, Robert
2        1037       Blake, Robert
3        1038       Blake, Robert
4        1039      Blake, William
...       ...                 ...
69196  122960  P-Orridge, Genesis
69197  122961  P-Orridge, Genesis
69198  121181        Hatoum, Mona
69199  112306       Creed, Martin
69200  127035   Brunias, Agostino

[69201 rows x 2 columns]

In [89]:
data.filter(like='year') # here like is case sensitive

       year
0       NaN
1       NaN
2      1785
3       NaN
4      1826
...     ...
69196  1975
69197  1976
69198  1996
69199  2000
69200  1764

[69201 rows x 1 columns]

In [90]:
data.filter(like='artist')

                   artist artistRole  artistId
0           Blake, Robert     artist        38
1           Blake, Robert     artist        38
2           Blake, Robert     artist        38
3           Blake, Robert     artist        38
4          Blake, William     artist        39
...                   ...        ...       ...
69196  P-Orridge, Genesis     artist     16646
69197  P-Orridge, Genesis     artist     16646
69198        Hatoum, Mona     artist      2365
69199       Creed, Martin     artist      2760
69200   Brunias, Agostino     artist      3824

[69201 rows x 3 columns]

In [92]:
data.filter(regex='(?i)year') # filter using regular expressions -- here (?i): case insensitive

       year  acquisitionYear
0       NaN           1922.0
1       NaN           1922.0
2      1785           1922.0
3       NaN           1922.0
4      1826           1919.0
...     ...              ...
69196  1975           2013.0
69197  1976           2013.0
69198  1996           2013.0
69199  2000           2013.0
69200  1764           2013.0

[69201 rows x 2 columns]

In [94]:
# filter on rows
data.filter(regex='^100.$', axis=0) # ^ indicates=> start from 100=> from 1000 row .=>get all rows $=>set range to next 10 rows

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1001,14705,A01005,"Turner, Joseph Mallord William",artist,558,"Hedging and Ditching, engraved by J.C. Easling",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 186 x 262 mm,186,262,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1003,14707,A01007,"Turner, Joseph Mallord William",artist,558,"River Wye, engraved by W. Annis",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 265 mm,184,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1005,14709,A01009,"Turner, Joseph Mallord William",artist,558,"Chain of Alps from Grenoble to Chamberi, engra...",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 261 mm,178,261,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1007,14711,A01011,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 179 x 257 mm,179,257,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1009,14713,A01013,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, engraved by Henry Dawe",1812,Etching and mezzotint on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 266 mm,183,266,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...

In [95]:
data.filter(regex='^100(0|2|4|6|8)$', axis=0)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1000,14704,A01004,"Turner, Joseph Mallord William",artist,558,Hedging and Ditching,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 184 x 259 mm,184,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-hed...
1002,14706,A01006,"Turner, Joseph Mallord William",artist,558,River Wye,1812,Print on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 183 x 264 mm,183,264,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...
1004,14708,A01008,"Turner, Joseph Mallord William",artist,558,Chain of Alps from Grenoble to Chamberi,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 259 mm,178,259,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-cha...
1006,14710,A01010,"Turner, Joseph Mallord William",artist,558,Mer de Glace,1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 178 x 253 mm,178,253,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-mer...
1008,14712,A01012,"Turner, Joseph Mallord William",artist,558,"Rivaux Abbey, Yorkshire",1812,Etching and engraving on paper,Presented by A. Acland Allen through the Art F...,1812,1925.0,image: 182 x 265 mm,182,265,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A01/A...,http://www.tate.org.uk/art/artworks/turner-riv...